body {
    margin: 0;
    background: url("../img/bg2.png") repeat;
}

.admin-box {
    margin-top: 40%;
    position: relative;
    background-color: rgba(100, 100, 100, 0.2);
    text-align: center;
}

.admin-box h1 {
    font-size: 1.9em;
    font-family: 'Kanit', sans-serif;
    padding: 1em;
    text-align: center;
}

.admin-box .form-group {
    padding-top: 1em;
}

.admin-box .login-title {
    padding-top: 20%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.admin-box .btn {
    width: 60%;
    margin-top: 20%
}

.content-box {
    margin-top: 20%;
    position: relative;
}

.table{
    background-color: rgba(255, 255, 255, 1);
}

.selected{
    background-color: rgba(100, 100, 100, 0.2);
}