/node_modules
/public/hot
/public/storage
/public/upolads
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env*
app.yaml
sftp-config.json
sftp-config.json*
sftp-config.json-1
