@import "~bootstrap/scss/bootstrap.scss";

$color_ripple: #d8ebf1;
$color_crush: #fd424d;
$color_seafloor: #1ca5b7;
$color_cyprus: #002d40;
$font_color: #383838;
$font_Pacifico: 'Pacifico' ,cursive;
$font_Athiti: 'Athiti',sans-serif;

html ,body {
    font-size: 14px;
    cursor:default;
}

@include media-breakpoint-up(sm) {
  html,body {
    font-size: 12px;
  }
.brand{
    font-size: 1.7em;
  }
}
@include media-breakpoint-down(sm){
  .header{
    display: none;
  }
  .navbar{
    position: relative;
  }
.brand{
    font-size: 1.4em;
  }
}
@include media-breakpoint-down(md){
  

  html,body {
    font-size: 12px;
  }
  .brand{
    font-size: 1.7em;
  }
}
@include media-breakpoint-up(md) {
  html,body {
    font-size: 12px;
  }
  .brand{
    font-size: 1.7em;
  }
   
}

@include media-breakpoint-up(lg) {
  html,body {
    font-size: 12px;
  }
  .brand{
    font-size: 1.7em;
  }
  .login{
    font-size: 1.7em;
  }
}
@include media-breakpoint-up(xl) {
  html,body {
    font-size: 14px;
  }
  .brand{
    font-size:2em;
  }
  .login{
    font-size: 2em;
  }
}
input,textarea{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.responses{
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-style: $font_Athiti ;
    font-size: 20px;
    color: $font_color;
}
.navbar {
    min-height: 70px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    .login{
    text-align: right;
    font-family: $font_Athiti;
      .icon{
        font-size: 28px;
        color: rgba(0,0,0,0.3);
      }
      .icon:hover{
        color: black;
      }
    }
}

.brand {
    font-family: $font_Pacifico;
    color: $color_crush;
}

.header {
    min-height: 400px;
    background-color: $color_seafloor;
}

.card {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    font-family: $font_Athiti;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2em;
}

.pad-top {
    padding-top: 2em;
}

.pad-bot {
    padding-bottom: 2em;
}
.inlineLeft, .inlineRight {
    position:absolute;
    display: inline;
}


.inlineRight {
    right:0;
}
.goBack{
  padding-right: 1em;
  font-size: 20px;
}
$card_columns_set :( xs:1,
sm:1,
md:4,
lg:3,
xl:3,
);
.card-columns {
    padding-top: 1.5em;
}

.card-info {
    font-size: 16px;
}

.select {
    font-family: $font_Athiti;
    font-size: 20px;
    padding: 0;
    
}
.select:hover{
  text-shadow: 0 0 5px rgba(0,0,0,0.3);
}

@each $view,
$columns in $card_columns_set {
    @include media-breakpoint-up($view) {
        .card-columns {
            column-count: $columns;
            column-gap: 1.25rem;

            .card {
                display: inline-block;
                width: 100%; // Don't let them exceed the column width
            }
        }
    }
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.store {
    width: 100%;
    font-family: $font_Athiti;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2em;
    padding: 0 0 0 0;

    img {
        width: 100%;
        height: 100%;
    }

    .title {
        h1 {
            padding-left: 1.5em;
        }
        position:relative;
        font-size: 1.5em;
        margin: 1em 1em 1em 0;
        padding-right: 1em;
        width: 100%;
        overflow: hidden;
    }
    .recommended{
      h1{
        font-size: 1em;
        padding-left : 1.5em;
        color: $color_crush;
      }
      
    }
    .description{
      font-size: 16px;
      padding: 0 1em 1em 1em;
      width: 100%;
    }
    .img{
      margin :0;
      width: 100%;
    }
    .row{
      margin : 0;
    }
    .back:hover{
      text-shadow: 0 0 3px rgba(0,0,0,0.3);
    }
}

.comment{
    font-family: $font_Athiti;
    font-size: 0.8em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
    border-color: #CECDCD;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1em;
    margin-top: 1.5em;
    padding-bottom: 0.5em;
    .row{
        margin-top: 1em;
    }
    .submit{
        text-align: center;
    }
    .rate{
        font-size: 1.5em;
    }
    .input-group-addon{
      background-color: #FFFFFF;
    }

}

.comment-icon{
    height: 50px;
    padding : 0.5em 0 0 0.5em;
    font-size: 25px;

}
.comment-box{
    margin: 0 auto;
    padding-top: 1em;
    font-size: 16px;
    .comment_area{
      width: 100%;
    }
}
.likes{
    height: 50px;
    padding : 0.5em 0 0 1em;
    font-size: 20px;
}
.others{
    font-family: $font_Athiti;
    min-height: 75px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
    border-color: #CECDCD;
    border-style: solid;
    border-width: 1px;
    margin-top:1em;
    .container{
        padding: 1em;
        font-size: 16px;
    }
    .comment-icon{
        height: 50px;
        padding : 0.5em 0 0 0.5em;
    }
    .comment-user{
        height: 50px;
        padding: 1em 1em 1em 0;
        color: $color_seafloor;
        font-size: 18px;
    }
}
.rating{
    font-family: $font_Athiti;
    color: $font_color;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2em;
    .rating_header{
      background-color: #F3F3F3;
      width: 100%;
      min-height: 50px;
      padding-top:1em;
      border-bottom: 1px rgba(0,0,0,0.1) solid;
    }
    .rating_star{
      padding-top: 0.5em;
      font-size: 1.7em;
      text-align: center;
    }
    h1{
      font-size: 2em;
    }
}


/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: $font_Athiti;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: $font_Athiti;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: $font_Athiti;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: $color_seafloor;
  padding: 17px 0px;
  font-family: $font_Athiti;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.regismodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: $color_crush;
  padding: 17px 0px;
  font-family: $font_Athiti;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}
.regismodal-submit:hover{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin-top: 0.5em;
  position: relative;
  text-shadow: 0px 1px 0 #a2a2a2;
  text-align: center;
  
  &-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
    text-align: center;
  }
}

.verified-box{
  padding: 20px;
  margin-top: 250px;
  background-color: #F3F3F3;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  .verified-content{
    font-family: $font_Athiti;
    font-size: 18px;
    padding: 20px;
  }
  .logo{
    font-size: 30px;
    padding-left: 40px;
  }
}